


.main .container{
	margin-top: 10px;
	display:flex;
}

.table-post{
	width: 75%;
	margin-top:10px;
	margin-right: 20px;
	background-color:#f2f2f2;
	border:1px solid #e1e1e1;
	border-radius: 6px;
	margin-bottom: 20px;
}

.table-post h1{
	padding: 10px;
}

table{
	width: 100%;
	border:none;
	background-color: white;
	border-collapse: collapse;
}

table th{

	background-color: #000;
	color:#fff;
	font-weight: bold;
	padding: 8px;
	border:0px;
}

table td{
	padding: 15px;
}


tr:nth-child(even){
	background-color: #f2f2f2;
}

table tr:hover{
	background-color: #f8f8f8
}

.buttons-column{
	width: 25%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.buttons-column div{
	flex:1 1 auto;
	height: 180px;
	
	margin-top:10px;
	margin-bottom: 10px;
	margin-left: 10px;

	text-decoration: none;
	color:white;
	padding: 10px;
	border-radius: 6px;
	text-align: center;
	font-size:20px;
	font-weight: bold;
}

.buttons-column span{
	font-size: 50px;
	font-weight: normal;
}


.buttons-column a{
	text-decoration: none;
	color:#fff;
	border: 3px solid #fff;
	padding: 6px;
	border-radius: 5px;
	margin-top: 10px;

}

.buttons-column a:hover{
	color: #000;
	mix-blend-mode: color-dodge;
	background-color: #fff;
}

.buttons-column i{
	font-size: 60px;
}

@media(max-width: 700px){

	.main .container{
		flex-direction: column;
	}

	.table-post{
		width: 100%;
	}

	.buttons-column{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
	}

	.buttons-column div{
		flex:0 0 200px;
		height: 180px;
	}

}