

.dashboard{
	position:relative;
	background-color: #2165d1;
	padding-top:5px;
	padding-bottom: 5px;
}

.dashboard h1{
	//background-color: red;		
	color : white;
	font-size:40px;
}

.dashboard i{
	margin-right:5px;
	font-size: 40px;
}

.operations{
	//background-color: yellow;
	width: 75%;
	display: flex;
	justify-content: space-around;
}

.operations a {
	text-decoration: none;
	width: 300px;
	color:white;
	padding: 10px;
	margin: 20px;
	border-radius: 6px;
	text-align: center;
	font-size:15px;
	font-weight: bold;
	vertical-align: middle;
}

.operations a:hover {
	font-size:17px;
	//background-color: rgba(255,255,255,0.1);
	box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.operations i:hover {
	color:#f2f2f2;
	font-size: 30px;
}

.button-user{
	background-color: #2364d3;
}
.button-item{
	background-color: #399955;
}
.button-subcategory{
	background-color: #f8934b;
}
.main-operations{
	background-color:#f2f2f2;
}

@media(max-width: 850px){
	
	.operations{
	//background-color: yellow;
	width: 100%;

	}
}

@media(max-width: 700px){

	.operations{
		flex-wrap: wrap;
	}

	.operations a {
		width: 250px;
		margin: 10px;
	}
}
